:root {
  color-scheme: light dark;

  --theme-color-primary: light-dark(#9c3f00, #ffb693);
  --theme-color-on-primary: light-dark(#ffffff, #562000);
  --theme-color-primary-container: light-dark(#c45100, #ea6b1e);
  --theme-color-on-primary-container: light-dark(#fffbff, #1c0600);
  --theme-color-primary-fixed: light-dark(#ffdbcc, #ffdbcc);
  --theme-color-primary-fixed-dim: light-dark(#ffb693, #ffb693);
  --theme-color-on-primary-fixed: light-dark(#351000, #351000);
  --theme-color-on-primary-fixed-variant: light-dark(#7a3000, #7a3000);
  --theme-color-inverse-primary: light-dark(#ffb693, #a04100);
  --theme-color-secondary: light-dark(#8c4e2e, #ffb693);
  --theme-color-on-secondary: light-dark(#ffffff, #532205);
  --theme-color-secondary-container: light-dark(#ffae87, #6f3719);
  --theme-color-on-secondary-container: light-dark(#793f21, #f1a27c);
  --theme-color-secondary-fixed: light-dark(#ffdbcc, #ffdbcc);
  --theme-color-secondary-fixed-dim: light-dark(#ffb693, #ffb693);
  --theme-color-on-secondary-fixed: light-dark(#351000, #351000);
  --theme-color-on-secondary-fixed-variant: light-dark(#6f3719, #6f3719);
  --theme-color-tertiary: light-dark(#005ab4, #aac7ff);
  --theme-color-on-tertiary: light-dark(#ffffff, #002f64);
  --theme-color-tertiary-container: light-dark(#0073e1, #3e90ff);
  --theme-color-on-tertiary-container: light-dark(#fefcff, #000c22);
  --theme-color-tertiary-fixed: light-dark(#d6e3ff, #d6e3ff);
  --theme-color-tertiary-fixed-dim: light-dark(#aac7ff, #aac7ff);
  --theme-color-on-tertiary-fixed: light-dark(#001b3e, #001b3e);
  --theme-color-on-tertiary-fixed-variant: light-dark(#00458d, #00458d);
  --theme-color-error: light-dark(#ba1a1a, #ffb4ab);
  --theme-color-on-error: light-dark(#ffffff, #690005);
  --theme-color-error-container: light-dark(#ffdad6, #93000a);
  --theme-color-on-error-container: light-dark(#93000a, #ffdad6);
  --theme-color-background: light-dark(#fff8f6, #1c110c);
  --theme-color-on-background: light-dark(#251913, #f5ded4);
  --theme-color-surface: light-dark(#fff8f6, #1c110c);
  --theme-color-surface-dim: light-dark(#ecd5cc, #1c110c);
  --theme-color-surface-bright: light-dark(#fff8f6, #443630);
  --theme-color-surface-container-lowest: light-dark(#ffffff, #160c07);
  --theme-color-surface-container-low: light-dark(#fff1eb, #251913);
  --theme-color-surface-container: light-dark(#ffeae1, #291d17);
  --theme-color-surface-container-high: light-dark(#fbe3da, #342721);
  --theme-color-surface-container-highest: light-dark(#f5ded4, #40322b);
  --theme-color-on-surface: light-dark(#251913, #f5ded4);
  --theme-color-surface-variant: light-dark(#fddccd, #584238);
  --theme-color-on-surface-variant: light-dark(#584238, #e0c0b2);
  --theme-color-inverse-surface: light-dark(#3b2d27, #f5ded4);
  --theme-color-inverse-on-surface: light-dark(#ffede6, #3b2d27);
  --theme-color-surface-tint: light-dark(#a04100, #ffb693);
  --theme-color-outline: light-dark(#8c7166, #a78b7e);
  --theme-color-outline-variant: light-dark(#e0c0b2, #584238);
  --theme-color-shadow: light-dark(#000000, #000000);
  --theme-color-scrim: light-dark(#000000, #000000);

  --theme-color-success: light-dark(#4a6700, #9fd800);
  --theme-color-on-success: light-dark(#ffffff, #253600);
  --theme-color-success-container: light-dark(#b7f613, #374e00);
  --theme-color-on-success-container: light-dark(#141f00, #b7f613);
  --theme-color-warning: light-dark(#855300, #ffb95e);
  --theme-color-on-warning: light-dark(#ffffff, #472a00);
  --theme-color-warning-container: light-dark(#ffddb8, #653e00);
  --theme-color-on-warning-container: light-dark(#2a1700, #ffddb8);
}

@theme static {
  --color-theme-primary-10: #fffbff;
  --color-theme-primary-20: #fff8f6;
  --color-theme-primary-50: #ffede6;
  --color-theme-primary-100: #ffdbcc;
  --color-theme-primary-200: #ffb693;
  --color-theme-primary-300: #ff8c51;
  --color-theme-primary-400: #ea6b1e;
  --color-theme-primary-500: #c85300;
  --color-theme-primary-600: #a04100;
  --color-theme-primary-650: #8d3800;
  --color-theme-primary-700: #7a3000;
  --color-theme-primary-750: #682800;
  --color-theme-primary-800: #562000;
  --color-theme-primary-850: #451800;
  --color-theme-primary-900: #351000;
  --color-theme-primary-950: #230900;

  --color-theme-secondary-10: #fffbff;
  --color-theme-secondary-20: #fff8f6;
  --color-theme-secondary-50: #ffede6;
  --color-theme-secondary-100: #ffdbcc;
  --color-theme-secondary-200: #ffb693;
  --color-theme-secondary-300: #e69973;
  --color-theme-secondary-400: #c77f5b;
  --color-theme-secondary-500: #a96644;
  --color-theme-secondary-600: #8c4e2e;
  --color-theme-secondary-650: #7e4324;
  --color-theme-secondary-700: #6f3719;
  --color-theme-secondary-750: #612c0f;
  --color-theme-secondary-800: #532205;
  --color-theme-secondary-850: #451800;
  --color-theme-secondary-900: #351000;
  --color-theme-secondary-950: #230900;

  --color-theme-tertiary-10: #fdfbff;
  --color-theme-tertiary-20: #f9f9ff;
  --color-theme-tertiary-50: #ecf0ff;
  --color-theme-tertiary-100: #d6e3ff;
  --color-theme-tertiary-200: #aac7ff;
  --color-theme-tertiary-300: #7aacff;
  --color-theme-tertiary-400: #3e90ff;
  --color-theme-tertiary-500: #0075e5;
  --color-theme-tertiary-600: #005db8;
  --color-theme-tertiary-650: #0051a2;
  --color-theme-tertiary-700: #00458d;
  --color-theme-tertiary-750: #003a78;
  --color-theme-tertiary-800: #002f64;
  --color-theme-tertiary-850: #002550;
  --color-theme-tertiary-900: #001b3e;
  --color-theme-tertiary-950: #00102a;

  --color-theme-neutral-10: #fffbff;
  --color-theme-neutral-20: #fff8f6;
  --color-theme-neutral-50: #ffede6;
  --color-theme-neutral-100: #f5ded4;
  --color-theme-neutral-200: #d8c2b9;
  --color-theme-neutral-300: #bca79e;
  --color-theme-neutral-400: #a08d84;
  --color-theme-neutral-500: #86736b;
  --color-theme-neutral-600: #6c5b53;
  --color-theme-neutral-650: #5f4f48;
  --color-theme-neutral-700: #53433d;
  --color-theme-neutral-750: #473832;
  --color-theme-neutral-800: #3b2d27;
  --color-theme-neutral-850: #30231d;
  --color-theme-neutral-900: #251913;
  --color-theme-neutral-950: #190e09;

  --color-theme-neutral-variant-10: #fffbff;
  --color-theme-neutral-variant-20: #fff8f6;
  --color-theme-neutral-variant-50: #ffede6;
  --color-theme-neutral-variant-100: #fddccd;
  --color-theme-neutral-variant-200: #e0c0b2;
  --color-theme-neutral-variant-300: #c3a598;
  --color-theme-neutral-variant-400: #a78b7e;
  --color-theme-neutral-variant-500: #8c7166;
  --color-theme-neutral-variant-600: #71594e;
  --color-theme-neutral-variant-650: #654d43;
  --color-theme-neutral-variant-700: #584238;
  --color-theme-neutral-variant-750: #4c372d;
  --color-theme-neutral-variant-800: #402c23;
  --color-theme-neutral-variant-850: #342119;
  --color-theme-neutral-variant-900: #29170f;
  --color-theme-neutral-variant-950: #1c0d06;

  --color-theme-error-10: #fffbff;
  --color-theme-error-20: #fff8f7;
  --color-theme-error-50: #ffedea;
  --color-theme-error-100: #ffdad6;
  --color-theme-error-200: #ffb4ab;
  --color-theme-error-300: #ff897d;
  --color-theme-error-400: #ff5449;
  --color-theme-error-500: #de3730;
  --color-theme-error-600: #ba1a1a;
  --color-theme-error-650: #a80710;
  --color-theme-error-700: #93000a;
  --color-theme-error-750: #7e0007;
  --color-theme-error-800: #690005;
  --color-theme-error-850: #540003;
  --color-theme-error-900: #410002;
  --color-theme-error-950: #2d0001;
}
