@import "tailwindcss";

:root {
  --timer-time: 60;
}

@theme {
  /* change the primary color to customize your color scheme */
  --color-primary: #cc5500;

  --color-primary-50: hsl(from var(--color-primary) h s 95%);
  --color-primary-100: hsl(from var(--color-primary) h s 90%);
  --color-primary-200: hsl(from var(--color-primary) h s 80%);
  --color-primary-300: hsl(from var(--color-primary) h s 70%);
  --color-primary-400: hsl(from var(--color-primary) h s 60%);
  --color-primary-500: hsl(from var(--color-primary) h s 50%);
  --color-primary-600: hsl(from var(--color-primary) h s 40%);
  --color-primary-700: hsl(from var(--color-primary) h s 30%);
  --color-primary-800: hsl(from var(--color-primary) h s 20%);
  --color-primary-900: hsl(from var(--color-primary) h s 10%);
  --color-primary-950: hsl(from var(--color-primary) h s 5%);

  --color-secondary: hsl(from var(--color-primary) calc(180 + h) s 50%);

  --color-secondary-50: hsl(from var(--color-primary) calc(180 + h) s 95%);
  --color-secondary-100: hsl(from var(--color-primary) calc(180 + h) s 90%);
  --color-secondary-200: hsl(from var(--color-primary) calc(180 + h) s 80%);
  --color-secondary-300: hsl(from var(--color-primary) calc(180 + h) s 70%);
  --color-secondary-400: hsl(from var(--color-primary) calc(180 + h) s 60%);
  --color-secondary-500: hsl(from var(--color-primary) calc(180 + h) s 50%);
  --color-secondary-600: hsl(from var(--color-primary) calc(180 + h) s 40%);
  --color-secondary-700: hsl(from var(--color-primary) calc(180 + h) s 30%);
  --color-secondary-800: hsl(from var(--color-primary) calc(180 + h) s 20%);
  --color-secondary-900: hsl(from var(--color-primary) calc(180 + h) s 10%);
  --color-secondary-950: hsl(from var(--color-primary) calc(180 + h) s 5%);

  --color-grayish-50: hsl(from var(--color-primary) h 10% 95%);
  --color-grayish-100: hsl(from var(--color-primary) h 10% 90%);
  --color-grayish-200: hsl(from var(--color-primary) h 10% 80%);
  --color-grayish-300: hsl(from var(--color-primary) h 10% 70%);
  --color-grayish-400: hsl(from var(--color-primary) h 10% 60%);
  --color-grayish-500: hsl(from var(--color-primary) h 10% 50%);
  --color-grayish-600: hsl(from var(--color-primary) h 10% 40%);
  --color-grayish-700: hsl(from var(--color-primary) h 10% 30%);
  --color-grayish-800: hsl(from var(--color-primary) h 10% 20%);
  --color-grayish-900: hsl(from var(--color-primary) h 10% 10%);
  --color-grayish-950: hsl(from var(--color-primary) h 10% 5%);
}

@keyframes slideDown1sStart {
  0%,
  6% {
    translate: 0 0;
  }
  10%,
  100% {
    translate: 0 100%;
  }
}

@keyframes slideDown1s {
  0% {
    translate: 0 -100%;
  }
  4%,
  6% {
    translate: 0 0;
  }
  10%,
  100% {
    translate: 0 100%;
  }
}

@keyframes slideDown1sEnd {
  0% {
    translate: 0 -100%;
  }
  4%,
  100% {
    translate: 0 0;
  }
}

@keyframes slideDown10sStart {
  0%,
  1% {
    translate: 0 0;
  }
  1.67%,
  100% {
    translate: 0 100%;
  }
}

@keyframes slideDown10s {
  0% {
    translate: 0 -100%;
  }
  0.67%,
  16% {
    translate: 0 0;
  }
  16.67%,
  100% {
    translate: 0 100%;
  }
}

@keyframes slideDown10sEnd {
  0% {
    translate: 0 -100%;
  }
  0.67%,
  100% {
    translate: 0 0;
  }
}

@keyframes slideDown1Secs {
  0%,
  1% {
    translate: 0 -1000%;
  }
  9%,
  11% {
    translate: 0 -900%;
  }
  19%,
  21% {
    translate: 0 -800%;
  }
  29%,
  31% {
    translate: 0 -700%;
  }
  39%,
  41% {
    translate: 0 -600%;
  }
  49%,
  51% {
    translate: 0 -500%;
  }
  59%,
  61% {
    translate: 0 -400%;
  }
  69%,
  71% {
    translate: 0 -300%;
  }
  79%,
  81% {
    translate: 0 -200%;
  }
  89%,
  91% {
    translate: 0 -100%;
  }
  99%,
  100% {
    translate: 0 0;
  }
}

@keyframes slideDown10Secs {
  0% {
    translate: 0 -600%;
  }
  1.59%,
  16.71% {
    translate: 0 -500%;
  }
  18.18%,
  33.38% {
    translate: 0 -400%;
  }
  34.88%,
  50.05% {
    translate: 0 -300%;
  }
  51.62%,
  66.72% {
    translate: 0 -200%;
  }
  68.29%,
  83.39% {
    translate: 0 -100%;
  }
  84.96%,
  100% {
    translate: 0 0;
  }
}
